section.about
	.container
		+blockBox("What we do", "Story about us", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nobis totam aspernatur, quaerat illo, quod commodi optio pariatur provident debitis, est maxime praesentium mollitia minima doloribus eaque suscipit ab? Ipsam!")
		.about-list
			+aboutItem("./images/img-about1.jpg", "Super Team", "fa fa-users")
			+aboutItem("./images/img-about2.jpg", "Super Team", "fa fa-users")
			+aboutItem("./images/img-about3.jpg", "Super Team", "fa fa-users")
			