section.people
    .container
        +blockBox("Happy Clients", "What people say")
        .people-list
            .people-item
                img(src="../images/img-people1.png", alt="").people-item-img
                .people-item-info
                    h4.people-item-name Matthew dix
                    p.people-item-position Graphic design 
                    span.people-item-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae esse voluptatibus dolor magnam aliquid. Sint ad quaerat debitis, molestiae odio vitae dolore.
            .people-item
                img(src="../images/img-people2.png", alt="").people-item-img
                .people-item-info
                    h4.people-item-name Matthew dix
                    p.people-item-position Graphic design 
                    span.people-item-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae esse voluptatibus dolor magnam aliquid. Sint ad quaerat debitis, molestiae odio vitae dolore.
        .people-list
            .people-item
                img(src="../images/img-people3.png", alt="").people-item-img
                .people-item-info
                    h4.people-item-name Matthew dix
                    p.people-item-position Graphic design 
                    span.people-item-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae esse voluptatibus dolor magnam aliquid. Sint ad quaerat debitis, molestiae odio vitae dolore.
            .people-item
                img(src="../images/img-people4.png", alt="").people-item-img
                .people-item-info
                    h4.people-item-name Matthew dix
                    p.people-item-position Graphic design 
                    span.people-item-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae esse voluptatibus dolor magnam aliquid. Sint ad quaerat debitis, molestiae odio vitae dolore.