section.quote
    .container
        .quote-container
            +quoteItem("../images/img-quote.png", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae tenetur consectetur cum dolor, voluptas sequi esse veritatis nam autem, expedita earum rem culpa vero repellat numquam quisquam nostrum dolorum accusamus.", "Jon Doe")
            +quoteItem("../images/img-quote.png", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae tenetur consectetur cum dolor, voluptas sequi esse veritatis nam autem, expedita earum rem culpa vero repellat numquam quisquam nostrum dolorum accusamus.", "Jon Doe")
            +quoteItem("../images/img-quote.png", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae tenetur consectetur cum dolor, voluptas sequi esse veritatis nam autem, expedita earum rem culpa vero repellat numquam quisquam nostrum dolorum accusamus.", "Jon Doe")