section.team
    .container
        +blockBox("What we are", "Meet our team", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nobis totam aspernatur, quaerat illo, quod commodi optio pariatur provident debitis, est maxime praesentium mollitia minima doloribus eaque suscipit ab? Ipsam!")
        .team-list
            +teamItem("../images/img-team1.png", "Matthew Dix", "Graphic Design")
                +teamSocial()
            +teamItem("../images/img-team2.png", "Christopher Cambell", "Branding /UX Team")
                +teamSocial()
            +teamItem("../images/img-team3.png", "Michael Fertig", "Developer")
                +teamSocial()
section.brand
    .container
        img.brand-img(src="../images/img-logos.png")                