section.wedo
	.container
		+blockBox("Service", "What we do", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum consequuntur vero quidem quibusdam aut inventore ipsam nisi sapiente placeat nemo alias ex, laudantium similique blanditiis voluptatum omnis deserunt ipsa adipisci!") 
		.wedo-container
			img.wedo-img(src= "../images/img-wedo.png")
			.wedo-content
				+wedoItem("../images/img-wedo-icon1.png", "Photography", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus ut adipisci reiciendis fugit consequatur fugiat deserunt? Fugiat dolorum molestiae sint odit nisi similique, maiores sed! Esse delectus ducimus asperiores distinctio? fugiat deserunt? Fugiat dolorum molestiae sint odit nisi similique, maiores sed! Esse delectus ducimus asperiores distinctio? ipsum dolor, sit amet consectetur adipisicing elit. Repellendus ut adipisci reiciendis fugit", "is-active")
				+wedoItem("../images/img-wedo-icon2.png", "Creativity", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus ut adipisci reiciendis fugit consequatur fugiat deserunt? Fugiat dolorum molestiae sint odit nisi similique, maiores sed! Esse delectus ducimus asperiores distinctio? fugiat deserunt? Fugiat dolorum molestiae sint odit nisi similique, maiores sed! Esse delectus ducimus asperiores distinctio? ipsum dolor, sit amet consectetur adipisicing elit. Repellendus ut adipisci reiciendis fugit")
				+wedoItem("../images/img-wedo-icon3.png", "Web design", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus ut adipisci reiciendis fugit consequatur fugiat deserunt? Fugiat dolorum molestiae sint odit nisi similique, maiores sed! Esse delectus ducimus asperiores distinctio? fugiat deserunt? Fugiat dolorum molestiae sint odit nisi similique, maiores sed! Esse delectus ducimus asperiores distinctio? ipsum dolor, sit amet consectetur adipisicing elit. Repellendus ut adipisci reiciendis fugit")
			//- accordion