.story{
    padding: 11rem 0;
    &-list{
        display: flex;
        justify-content: space-between;
    }
    &-item{
        width: calc((100% / 3) - 3rem);
        cursor: pointer;
    }
    &-media{
        position: relative;
    }
    &-date{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1.5rem 2rem;
        background-color: $third-color;
        position: absolute;
        bottom: 1rem;
        left: -1rem;
        color: white;
    }
    &-day{
        font-weight: 700;
        font-size: 3rem;
    }
    &-month{
        font-family: $secondary-font;
        font-size: 1.1rem;
        font-style: italic;
    }

    &-content{
        margin-top: 2rem;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid $gray-dark-color;
    }
    &-title{
        font-size: 1.4rem;
        color: $title-color;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 1rem;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 2rem;
    }
    &-desc{
        font-size: 1.5rem;
        font-family: $secondary-font;
        color: $text-color;
        @include textClam(2);
        padding-right: 3rem;
    }
    &-meta{
        display: flex;

        &-item{
            margin-right: 1rem;
        }
        &-icon{
            margin-right: 0.5rem;
            color: $third-color;
        }
        &-number{
            color: $text-color;
            font-family: $secondary-font;
            font-style: italic;
        }
    }

    @include maxWidth(1023px){
        padding: 7rem 0;
    }
    @include maxWidth(767px){
        padding: 5rem 0;
        &-list{
            flex-wrap: wrap;
        }
        &-item{
            width: 100%;
            &:not(:last-child){
                margin-bottom: 3rem;
            }
        }
        &-desc{
            display: block;
            line-height: 1.4;
            padding-right: 1rem;
            word-break: break-word;
        }
    }
}


.map{
    padding: 7rem 0;
    background: linear-gradient( rgba($gray-light-color, 0.8)), url("../images/img-map.png")
    no-repeat center / cover;
    &-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &-icon{
        margin-bottom: 1.5rem;
    }
    &-heading{
        font-weight: 700;
        color: $primary-color;
        text-transform: uppercase;
        font-size: 2.4rem;
        padding-bottom: 2rem;
        position: relative;

        &::after{
            content: "";
            position: absolute;
            width: 7rem;
            height: 3px;
            background-color: $primary-color;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

}